<h1>patterns:</h1>
<p>select the pattern you want:</p>
<select ng-model="ui.actPattern.file" ng-options="pattern for pattern in patterns"></select>
<div class="pattern" ng-show="ui.actPattern">
  <h2>{{ ui.actPattern.pattern.title }}</h2>
  <div class="form-elm" ng-repeat="measurement in ui.actPattern.pattern.measurements">
    {{ measurement }} <br><input type="text" ng-model="ui.actPattern.pattern.defaults[$index]" >{{ settings.units }}
  </div>
</div>
<h2 ng-click="ui.settingsEdit = !ui.settingsEdit">Toggle Settings:</h2>
<div class="settings" ng-show="ui.settingsEdit">
  <select ng-model="settings.units" ng-options="unit as text for (unit, text) in app.units"></select><br>
  <input type="checkbox" ng-model="settings.showGrid">Show Grid <br>
  <input type="checkbox" ng-model="settings.showConstLines">Show construction lines <br>
</div>
