<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pattern Share Angular</title>
</head>
<body ng-app="patternshare" >
    <!-- templates to avoid crossbrowwse -->
  <script type="text/ng-template" id="partials/error.html">
    error loading the app.  <a href="#!/patterns">Please try again</a>
  </script>
  <script type="text/ng-template" id="partials/home.html">
    <a href="#!/patterns">patterns</a>
  </script>
  <script type="text/ng-template" id="partials/patterns.html" >
    <h1>patterns:</h1>
    <p>select the pattern you want:</p>
    <select ng-model="ui.actPattern.file" ng-options="pattern for pattern in patterns"></select>
    <div class="pattern" ng-show="ui.actPattern">
      <h2>{{ ui.actPattern.pattern.title }}</h2>
      <div class="form-elm" ng-repeat="measurement in ui.actPattern.pattern.measurements">
        {{ measurement }} <br><input type="text" ng-model="ui.actPattern.pattern.defaults[$index]" >{{ settings.units }}
      </div>
    </div>
    <h2 ng-click="ui.settingsEdit = !ui.settingsEdit">Toggle Settings:</h2>
    <div class="settings" ng-show="ui.settingsEdit">
      <select ng-model="settings.units" ng-options="unit as text for (unit, text) in app.units"></select><br>
      <input type="checkbox" ng-model="settings.showGrid">Show Grid <br>
      <input type="checkbox" ng-model="settings.showConstLines">Show construction lines <br>
    </div>
  </script>
    
  <div ng-view></div>

  <script type="text/javascript" src="js/libs/angular.min.js" language="JavaScript"></script>
  <script type="text/javascript" src="js/libs/localStorageModule.js"></script>
    <!-- app -->
  <script type="text/javascript" src="js/mainCtrl.js" language="JavaScript"></script>
</body>
</html>